*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

/* GENERAL */
h1{
    font-family: 'Playfair Display', serif;
    color: #EDC5C5;
    font-size: 30px;
    padding: 20px 0px 0px 40px;
}

h2{
    font-family: 'Playfair Display', serif;
    color: #EDC5C5;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
/* NAV */
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.nav-item{
    padding-right: 20px;
}
.nav-item a{
    padding-top: 13px;
    color: black;
}
.nav-item a:hover{
    color: #EDC5C5;
}
.navbar-nav .nav-link.active{
    color: #EDC5C5;
}

/* MAIN */
/* HOME */
.hero{
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 828px;
}
.hero h3{
    font-family: 'Playfair Display';
    font-size: 110px;
    justify-content: start;
    padding-left: 100px;
    padding-top: 200px;
    align-items: center;
}
.hero p{
    font-family: 'Playfair Display';
    font-size: 40px;
    padding-left: 100px;
}

/* SOBRE MI */
#sobreMi img{
    border-radius: 50%;
    width: 500px;
}
#sobreMi .row{
    align-items: center;
}
#sobreMi p{
    font-size: 20px;
}
.seccion-olas{
    background-color: #EDC5C5;
}
.seccion-olas p{
    font-size: 20px;
}
.seccion-olas ul li{
    padding: 15px;
    list-style-type: none;
    text-align: start;
}
.seccion-olas li:hover{
    box-shadow: 0 2px 4px rgba(255, 102, 196, 0.5); 
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}
.seccion-olas li:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
.fa-regular{
    padding-right: 5px;
    color: #FF66C4;
    font-size: 20px;
}

/* MI PORTFOLIO */
#portfolio img{
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.image-container{
    position: relative;
    display: inline-block;
}
  
.image-container img{
    display: block;
    width: 100%;
    height: auto;
}
  
.image-container .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 197, 197, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.image-container:hover .overlay{
    opacity: 1;
}
  
.image-container .overlay h3, .image-container .overlay p{
    color: black;
    text-align: center;
    margin: 0;
    padding: 10px;
}
  





/* FOOTER */
footer{
    background-color: #EDC5C5;
}
footer h4, p{
    padding-left: 30px;
    font-family: 'Playfair Display';
}
footer h4{
    padding-top: 20px;
    font-size: 20px;
}
footer i{
    padding-left: 30px;
}
.redes-sociales a{
    text-decoration: none;
    color: black;
}